.container{
	       height: auto;
		   padding: 15px;
		   max-width: 100%;
		   margin: auto;
}
.dataheading{
	    padding: 8px 0px;
		margin: auto;
}
.head1{
	color: #4787ce;
    padding: 10px;
    margin: auto;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	border: none;
	box-shadow: none;
}
.datavalue{
	    padding: 8px 0px;
		margin: auto;
}
.head2{
	color: #4787ce;
    padding: 10px;
    margin: auto;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	border: none;
	box-shadow: none;
}
.button1{
	     width: 150px;
		 height:  45px;
		 margin: auto;
		 font-size: 25px;
		 color: white;
		 background-color: #f2b33f;
		 border-radius: 30px;
		 border: none;
}
.button1:hover{
	           color: white;
}
.button2{
	     width: 150px;
		 height:  45px;
		 font-size: 25px;
		 margin: auto;
		 color: white;
		 background-color: #f2b33f;
		 border-radius: 30px;
		 border: none;
}
.button2 a{
	      color: white;
}
.button2:hover{
	           color: white;
}