.row{
	margin: 0px;
}
.header{
	display: inline-flex;
    width: 100%;
    margin: 10px 0px;
    border: 2px solid #C3C3C3;
    height: auto;
    border-radius: 10px;
}
.header label{
	margin: 1% 10px ;
	padding: 10px;
}
.saveExit{
	position: absolute;
    right: 5%;
    top: 30%;
}
.saveExit button{
	border-radius: 10px;
}
.name{
   padding: 1%;
   color:#0DA8EA;
}
.cat{
	padding-left:15%;
	padding-top: 1%;
	color:#0DA8EA;
}
.vision{
	padding-left:15%;
	padding-top: 1%;
	color:#0DA8EA;
}
.left{
	padding-left:15%;
	padding-top: 1%;
	color:#0DA8EA;
}

.choiceList span{
	color : #000000;
}
.actionButtons button{
	margin: 10% 15%;
    border-radius: 10px;
    width: 100px;
}
.fa-times {
	float: right;
	color: #FF0000;
	padding: 10px;
}
.fa-check {
	float: right;
	color: #4caf50;
	padding: 10px;
}

.fa-eye {
	float: right;
	padding: 10px;
}
.questionBtn{
    margin: auto;
	background: transparent;
	padding: 10px;
}
.active{
	background: #c3c3c3;
    color: #FFFFFF !important;
}

.qtnleft{
	border:1px solid #C3C3C3;
	margin: 10px 5px;
	border-radius: 10px;
	/*color:#0DA8EA;*/
	color: #fff;
	width: 45px;
	display: inline-flex;
	background-color: #ff3232;
}

.question{
	width: 650px;
    height: 250px;
    text-align: center;
    border: 2px solid #C3C3C3;
    border-radius: 10px;
    margin: 5% auto 0% auto;
    color: #0DA8EA;
    vertical-align: middle;
    display: table-cell;
}
.options{
	color: #0DA8EA;
    padding: 20px 10px;
    margin: 0% 3%;
}
.correctOption {
	margin : 20px 0px;
	color:#0DA8EA;
}
.correctOption input{
	margin : 0px 10px;
}
.rad{
	padding: 5%;
	color:#0DA8EA;
}

#time{ 
 
font-size: 18px; 
margin:auto 0;

}
.blink_me 
{ 
	animation: blinker 1s linear infinite;
	 }
 @keyframes blinker 
 { 
 	50% { 
 		opacity: 0;
 		 } 
} 
#successModal_id{
	display:none; 
}
.enteredAnswerParent{
	margin-top: 20px;
	margin-bottom: 20px;
}
.textareaDiv textarea{
	width: 65%;
	height: 160px;
	border: 2px solid #C3C3C3;
    border-radius: 10px;
}
.textareaDiv label {
	display: block;
    float: left;
    margin: 70px 25px 0px 0px;
}
.radio{
	 
  border:4px solid #ccc;
  border-top-color:#bbb;
  border-left-color:#bbb;
  background:#fff;
  width:25px;
  height:25px;
  border-radius:25%;
}

.choiceListParent{
   
	border: 2px solid #C3C3C3;
    border-radius: 10px;
width: 100%;
	min-height: 250px;
	margin-top: 20px;
	margin-bottom: 20px;


}
.QuestionButtonsParent{
	 border: 2px solid #C3C3C3;
	 border-radius: 10px;
	 height: 550px;
}
#questionParentLeft{
    text-align: center;
    border-radius: 10px;
    margin: 5% auto 0% auto;
    color: #0DA8EA;
    padding: 15px;
    display: table-cell;
    height: 420px;

}
.lab1{
	  padding: 0px 15px;
	  margin: auto;
	  font-size: 18px;
	  font-weight: 600;
}
.la1{
	 color: green;
}
.la2{
	 color: #ff0000;
}
.la3{
	 color: #0DA8EA;
}
.review{
	    color: #fff;
}
.review:hover{
	   color:  #0DA8EA;
}
.save{
	color: #fff;
}
.save:hover{
	color: #0DA8EA;
}





