.row{
	margin: 0px;
}
.header{
	display: inline-flex;
    width: 100%;
    margin: 10px 0px;
    border: 2px solid #C3C3C3;
    height: auto;
    border-radius: 10px;
}
.header label{
	margin: 1% 10px ;
	padding: 10px;
}
.saveExit{
	position: absolute;
    right: 5%;
    top: 30%;
}
.saveExit button{
	border-radius: 10px;
}
.name{
   padding: 1%;
   color:#0DA8EA;
}
.cat{
	padding-left:15%;
	padding-top: 1%;
	color:#0DA8EA;
}
.vision{
	padding-left:15%;
	padding-top: 1%;
	color:#0DA8EA;
}
.left{
	padding-left:15%;
	padding-top: 1%;
	color:#0DA8EA;
}

.choiceList span{
	color : #000000;
}
.actionButtons button{
	margin: 10% 15%;
    border-radius: 10px;
    width: 100px;
}
.fa-times {
	float: right;
	color: #FF0000;
	padding: 10px;
}
.fa-check {
	float: right;
	color: #4caf50;
	padding: 10px;
}

.fa-eye {
	float: right;
	padding: 10px;
}

.questionBtn{
    margin: auto;
	background: transparent;
}
.active{
	background: #0DA8EA;
    color: #FFFFFF !important;
}

.qtnleft,.qtnright{
	border:1px solid #C3C3C3;
	margin: 10px 0px;
	border-radius: 10px;
	color:#0DA8EA;

	}

.question{
	width: 650px;
    height: 250px;
    text-align: center;
    border: 2px solid #C3C3C3;
    border-radius: 10px;
    margin: 5% auto 0% auto;
    color: #0DA8EA;
    vertical-align: middle;
    display: table-cell;

}
.options{
	color: #0DA8EA;
    padding: 20px 10px;
    margin: 0% 3%;
}
.correctOption {
	margin : 20px 0px;
	color:#0DA8EA;
}
.correctOption input{
	margin : 0px 10px;
}
.rad{
	padding: 5%;
	color:#0DA8EA;
}

#demo{ 
 
font-size: 24px; 
margin:auto 0;

}
.blink_me 
{ 
	animation: blinker 1s linear infinite;
	 }
 @keyframes blinker 
 { 
 	50% { 
 		opacity: 0;
 		 } 
} 
