.top{
	display: inline-flex;
	width:100%;
	margin: 10px;
	border:2px solid #C3C3C3;
}
	.name{
       padding: 1%;
       color:#0DA8EA;
	}
	.cat{
		padding-left:15%;
		padding-top: 1%;
		color:#0DA8EA;
	}
	.vision{
		padding-left:15%;
		padding-top: 1%;
		color:#0DA8EA;
	}
	.left{
		padding-left:15%;
		padding-top: 1%;
		color:#0DA8EA;
	}
.btn1{
		margin-left: 5%;
		padding: 0.8em;
		color:#0DA8EA;
		border: 1px solid #C3C3C3;
	}
.fa-times {
	float: right;
	color: #FF0000;
	padding: 10px;
}



.qtnleft{
	
	border:1px solid #C3C3C3;
	color:#0DA8EA;

	}
	.qtnright{
	
	border:1px solid #C3C3C3;
	color:#0DA8EA;

	}

.midle{
	width:90%;
	height:40%;
	padding: 15%;
	border:2px solid #C3C3C3;
	margin-left: 5%;
	color:#0DA8EA;
}
.option{
	padding: 5%;
	color:#0DA8EA;
}
.options{
	padding-left:5%;
	color:#0DA8EA;
}
.op2{
	margin-left: 50%;
	color:#0DA8EA;
}
.op4{
	margin-left: 48%;
	color:#0DA8EA;
}
.rad{
	padding: 5%;
	color:#0DA8EA;
}
.r1,.r2,.r3,.r4{
	padding-left: 5%;
	color:#0DA8EA;
}
.buttons{
	margin-left: 30%;

}
 p 
{ 
 
font-size: 24px; 
margin:auto 0;

}
.blink_me 
{ 
	animation: blinker 1s linear infinite;
	 }
 @keyframes blinker 
 { 
 	50% { 
 		opacity: 0;
 		 } 
} 




