   

.cbp-spmenu-push div#page-wrapper{
  margin:0px;
}
#page-wrapper {
    padding: 1em 2em 2.5em;
    background-color: #F1F1F1;
}


.logo1 img{
    width:300px;
float:left;
}

label{
   padding: 20px;
    color:#38ACDD;
}


p{
   font-size: 20px;
}
h3{
  
  padding-bottom:10px;
  color:#5ACDF7;
  
}
  input[type="checkbox"]{
  
    width: 20px;
    height: 20px;
  
    line-height: normal;
    
}
.last{
  color:black;
}
.terms{
  color:#29AAE2;
}
#sub{
  text-align: center;


}
.btn{
  border-radius: 10px;
 width: 15%;
}
h1{
 margin-bottom: 20px;
  color:#5ACDF7;
}
.la3{
   color: #0DA8EA;
}
.la1{
   color: #4ACC4ACC;
}
.la2{
   color: #F2B33F;
}


   
   
