.sub_home input[type="button"] {
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background: #f2b33f;
    width: 45%;
    padding: .6em 1em;
    font-size: 1em;
    margin: 0.5em auto 0em;
    display: block;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.main-page{
	    height: auto;
		margin: auto;
		width: 100%;
}
.signup-page{
	         width: 92%;
	         margin: auto;
}
.row label{
	font-weight: 500;
}
#name,#lname,#email ,#mobile ,#password,#repassword {
		 padding-right: 10px;
}
h5{
	margin: 0.5em;
    color: #629aa9;
    font-size: 1.1em;
	padding: 0.5em;
}

h6{
	margin: 0.5em;
    color: #629aa9;
    font-size: 1.1em;
}
.default-margin{
	margin-top: 10px;
	margin-bottom: 10px;
}
input , select{
	padding: 5px;
    border-radius: 5px;
}
#minimumList{
	width:150px;
}
#maximumList{
	width:150px;
}
.label1{
	padding: 10px;
}
.row label {
    font-weight: 500;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}